In [1]:
%pip uninstall -y pyarrow
%pip install pyarrow

Found existing installation: pyarrow 23.0.0
Uninstalling pyarrow-23.0.0:
  Successfully uninstalled pyarrow-23.0.0
Note: you may need to restart the kernel to use updated packages.
Collecting pyarrow
  Using cached pyarrow-23.0.0-cp311-cp311-win_amd64.whl.metadata (3.1 kB)
Using cached pyarrow-23.0.0-cp311-cp311-win_amd64.whl (27.5 MB)
Installing collected packages: pyarrow
Successfully installed pyarrow-23.0.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
pd.__version__

'2.1.4'

In [3]:
%pip install psycopg2-binary sqlalchemy pandas

Requirement already satisfied: psycopg2-binary in c:\users\adam\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\adam\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: pandas in c:\users\adam\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\adam\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\adam\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\adam\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adam\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\adam\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\adam\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\adam\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from sqlalchemy import create_engine
engine = create_engine(
    "postgresql+psycopg2://postgres:1620@localhost:5432/laz_test"
)
pd.read_sql("SELECT 1;", engine)

   ?column?
0         1

In [5]:
import pandas as pd

path = r"Test Verb Present tense.csv"   # adjust path if needed
raw = pd.read_csv(path, low_memory=False)

# keep only non-empty column names that aren't "Unnamed: ..."
df = raw.loc[:, ~raw.columns.str.startswith("Unnamed:")].copy()

df.columns
df.head()

,Laz Infinitive,Category,Laz 3rd Person Singular Present,Region,Laz 3rd Person Singular Present Alternative 1,Region Alternative 1,Laz 3rd Person Singular Present Alternative 2,Region Alternative 2,English Translation,Turkish Verb,verb_family_id
0,avara doskudu,TVM,avara doskudun,"PZ, AŞ, FA, HO",NaN,NaN,NaN,NaN,to be idle,avare kalmak,19
1,cebazgu,TVE,cobazgams,"PZ, AŞ",NaN,NaN,NaN,NaN,"to press, to step on something",basmak,139
2,cebgaru,TVE,cabgars,PZ,NaN,NaN,NaN,NaN,to lament over something,ağıt yakmak,108
3,ceçamu,TVE,ceçams,"PZ, AŞ",NaN,NaN,NaN,NaN,to hit something/someone,vurmak (bir şeye),98
4,ceç̌u,TVE,coç̌ams,"PZ, AŞ",NaN,NaN,NaN,NaN,to begin,başlamak,28

In [6]:
# clean + unique category codes
cats = (
    df[["Category"]]
    .dropna()
    .assign(code=lambda x: x["Category"].astype(str).str.strip())
    .drop_duplicates(subset=["code"])
    [["code"]]
)

# explicit mappings
english_map = {
    "IVD": "Dative verb",
    "TVM": "Nominative verb",
    "TVE": "Ergative verb",
}

turkish_map = {
    "IVD": "Yönelme fiili",
    "TVM": "Nominatif fiili",
    "TVE": "Ergatif fiili",
}

cats["english_name"] = cats["code"].map(english_map)
cats["turkish_name"] = cats["code"].map(turkish_map)

# final column order
cats = cats[["english_name", "turkish_name", "code"]]

cats

      english_name     turkish_name code
0  Nominative verb  Nominatif fiili  TVM
1    Ergative verb    Ergatif fiili  TVE
7      Dative verb    Yönelme fiili  IVD

In [7]:
pd.read_sql("""
SELECT column_name, is_nullable
FROM information_schema.columns
WHERE table_name = 'verb_category'
ORDER BY ordinal_position;
""", engine)

        column_name is_nullable
0  verb_category_id          NO
1      english_name          NO
2      turkish_name          NO
3              code          NO

In [8]:
cats.to_sql("verb_category", engine, if_exists="append", index=False) # double check, verb groups should be unique

3

In [9]:
pd.read_sql("SELECT * FROM verb_category ORDER BY verb_category_id;", engine)

    verb_category_id     english_name     turkish_name code
0                  1  Nominative verb  Nominatif fiili  TVM
1                  2    Ergative verb    Ergatif fiili  TVE
2                  3      Dative verb    Yönelme fiili  IVD
3                  4  Nominative verb  Nominatif fiili  TVM
4                  5    Ergative verb    Ergatif fiili  TVE
5                  6      Dative verb    Yönelme fiili  IVD
6                  7  Nominative verb  Nominatif fiili  TVM
7                  8    Ergative verb    Ergatif fiili  TVE
8                  9      Dative verb    Yönelme fiili  IVD
9                 10  Nominative verb  Nominatif fiili  TVM
10                11    Ergative verb    Ergatif fiili  TVE
11                12      Dative verb    Yönelme fiili  IVD
12                13  Nominative verb  Nominatif fiili  TVM
13                14    Ergative verb    Ergatif fiili  TVE
14                15      Dative verb    Yönelme fiili  IVD
15                16  Nominative verb  Nominatif fiili  TVM
16                17    Ergative verb    Ergatif fiili  TVE
17                18      Dative verb    Yönelme fiili  IVD
18                19  Nominative verb  Nominatif fiili  TVM
19                20    Ergative verb    Ergatif fiili  TVE
20                21      Dative verb    Yönelme fiili  IVD
21                22  Nominative verb  Nominatif fiili  TVM
22                23    Ergative verb    Ergatif fiili  TVE
23                24      Dative verb    Yönelme fiili  IVD

In [10]:
cat_map = pd.read_sql("SELECT verb_category_id, code FROM verb_category;", engine)
cat_map

    verb_category_id code
0                  1  TVM
1                  2  TVE
2                  3  IVD
3                  4  TVM
4                  5  TVE
5                  6  IVD
6                  7  TVM
7                  8  TVE
8                  9  IVD
9                 10  TVM
10                11  TVE
11                12  IVD
12                13  TVM
13                14  TVE
14                15  IVD
15                16  TVM
16                17  TVE
17                18  IVD
18                19  TVM
19                20  TVE
20                21  IVD
21                22  TVM
22                23  TVE
23                24  IVD

In [11]:
# 1) build verbs from the CSV
verbs = (
    df[["Laz Infinitive", "Category"]]
    .dropna()
    .assign(
        infinitive=lambda x: x["Laz Infinitive"].astype(str).str.strip(),
        code=lambda x: x["Category"].astype(str).str.strip(),
    )
    .query("infinitive != ''")
    .drop_duplicates(subset=["infinitive", "code"])
    .merge(cat_map, on="code", how="left") # why is this necessary? Is it to get the verb category ID?
)

# 2) sanity check: any categories that didn't map?
bad = verbs[verbs["verb_category_id"].isna()][["infinitive", "code"]].drop_duplicates() 
bad

Empty DataFrame
Columns: [infinitive, code]
Index: []

In [12]:
dialects = pd.DataFrame([
    {"english_name": "Ardeşen", "turkish_name": "Ardeşen", "laz_name": "Art̆aşeni"},
    {"english_name": "Pazar", "turkish_name": "Pazar", "laz_name": "Atina"},
    {"english_name": "Fındıklı/Arhavi", "turkish_name": "Fındıklı/Arhavi", "laz_name": "Viǯe/Arkabi"},
    {"english_name": "Hopa", "turkish_name": "Hopa", "laz_name": "Xopa"},
])
dialects

      english_name     turkish_name     laz_name
0          Ardeşen          Ardeşen    Art̆aşeni
1            Pazar            Pazar        Atina
2  Fındıklı/Arhavi  Fındıklı/Arhavi  Viǯe/Arkabi
3             Hopa             Hopa         Xopa

In [13]:
existing = pd.read_sql("SELECT english_name FROM dialect;", engine)

dialects_new = dialects[~dialects["english_name"].isin(existing["english_name"])].copy() #
dialects_new

Empty DataFrame
Columns: [english_name, turkish_name, laz_name]
Index: []

In [14]:
dialects_new.to_sql("dialect", engine, if_exists="append", index=False)

0

In [15]:
from sqlalchemy import text

with engine.begin() as conn:
    conn.execute(
        text("""
        UPDATE dialect
        SET laz_name = 'Art̆aşeni'
        WHERE english_name = 'Ardeşen';
        """)
    )

In [16]:
pd.read_sql(
    "SELECT dialect_id, english_name, turkish_name, laz_name FROM dialect ORDER BY dialect_id;",
    engine
)

   dialect_id     english_name     turkish_name     laz_name
0           1          Ardeşen          Ardeşen    Art̆aşeni
1           2            Pazar            Pazar        Atina
2           3  Fındıklı/Arhavi  Fındıklı/Arhavi  Viǯe/Arkabi
3           4             Hopa             Hopa         Xopa

In [17]:
DEFAULT_DIALECT_ID = int(pd.read_sql(
    "SELECT dialect_id FROM dialect WHERE english_name='Fındıklı/Arhavi';",
    engine
).iloc[0,0])
DEFAULT_DIALECT_ID

3

In [18]:
verbs = (
    df[["Laz Infinitive", "Category"]]
    .dropna()
    .assign(
        infinitive=lambda x: x["Laz Infinitive"].astype(str).str.strip(),
        code=lambda x: x["Category"].astype(str).str.strip(),
    )
    .query("infinitive != ''")
    .drop_duplicates(subset=["infinitive", "code"])
    .merge(cat_map, on="code", how="left")
)

# must be empty
verbs[verbs["verb_category_id"].isna()]

Empty DataFrame
Columns: [Laz Infinitive, Category, infinitive, code, verb_category_id]
Index: []

In [19]:
pd.read_sql("""
SELECT column_name, is_nullable
FROM information_schema.columns
WHERE table_name = 'verb'
ORDER BY ordinal_position;
""", engine)

                column_name is_nullable
0                   verb_id          NO
1            verb_family_id         YES
2                dialect_id          NO
3          verb_category_id          NO
4                infinitive          NO
5               present_3sg          NO
6           meaning_english          NO
7           meaning_turkish          NO
8           requires_marker          NO
9   has_optional_preverb_ko          NO
10  has_optional_preverb_do          NO

In [20]:
COL_INF = "Laz Infinitive"
COL_CAT = "Category"
COL_PRES3 = "Laz 3rd Person Singular Present"
COL_ENG = "English Translation"
COL_TR  = "Turkish Verb"

verbs = (
    df[[COL_INF, COL_CAT, COL_PRES3, COL_ENG, COL_TR]]
    .dropna(subset=[COL_INF, COL_CAT, COL_PRES3, COL_ENG, COL_TR])
    .assign(
        infinitive=lambda x: x[COL_INF].astype(str).str.strip(),
        code=lambda x: x[COL_CAT].astype(str).str.strip(),
        present_3sg=lambda x: x[COL_PRES3].astype(str).str.strip(),
        meaning_english=lambda x: x[COL_ENG].astype(str).str.strip(),
        meaning_turkish=lambda x: x[COL_TR].astype(str).str.strip(),
    )
    .query("infinitive != '' and present_3sg != '' and meaning_english != '' and meaning_turkish != ''")
    .drop_duplicates(subset=["infinitive", "code"]) # why drop these duplicates; not necessary at this stage (remove)
    .merge(cat_map, on="code", how="left")
)

# sanity: should be empty
missing = verbs[verbs["verb_category_id"].isna()]
missing

Empty DataFrame
Columns: [Laz Infinitive, Category, Laz 3rd Person Singular Present, English Translation, Turkish Verb, infinitive, code, present_3sg, meaning_english, meaning_turkish, verb_category_id]
Index: []

In [21]:
pd.read_sql("SELECT COUNT(*) AS n_verbs FROM verb;", engine)

   n_verbs
0      653

In [22]:
df.shape

(327, 11)

In [23]:
df[["Laz Infinitive","Category","Laz 3rd Person Singular Present","English Translation","Turkish Verb","Region"]].head(10)

,Laz Infinitive,Category,Laz 3rd Person Singular Present,English Translation,Turkish Verb,Region
0,avara doskudu,TVM,avara doskudun,to be idle,avare kalmak,"PZ, AŞ, FA, HO"
1,cebazgu,TVE,cobazgams,"to press, to step on something",basmak,"PZ, AŞ"
2,cebgaru,TVE,cabgars,to lament over something,ağıt yakmak,PZ
3,ceçamu,TVE,ceçams,to hit something/someone,vurmak (bir şeye),"PZ, AŞ"
4,ceç̌u,TVE,coç̌ams,to begin,başlamak,"PZ, AŞ"
5,cegapu,TVM,cagen,to get used to,alışmak,"PZ, AŞ"
6,ceginu,TVE,coginams,to get someone become familiar with something,alıştırmak,"PZ, AŞ"
7,cedginu,IVD,cadginen,to crave,aşermek,"PZ, AŞ"
8,celabalu,TVE,celabams,to hang,asmak,"PZ, AŞ"
9,cemp̌onu,TVE,comp̌onams,to vaccinate/fertilize,aşılamak,AŞ

In [24]:
COL_INF="Laz Infinitive"
COL_CAT="Category"
COL_PRES3="Laz 3rd Person Singular Present"
COL_ENG="English Translation"
COL_TR="Turkish Verb"
COL_REG="Region"

verbs = (
    df[[COL_INF, COL_CAT, COL_PRES3, COL_ENG, COL_TR, COL_REG]]
    .assign(
        infinitive=lambda x: x[COL_INF].astype(str).str.strip(),
        code=lambda x: x[COL_CAT].astype(str).str.strip(),
        present_3sg=lambda x: x[COL_PRES3].astype(str).str.strip(),
        meaning_english=lambda x: x[COL_ENG].astype(str).str.strip(),
        meaning_turkish=lambda x: x[COL_TR].astype(str).str.strip(),
        region=lambda x: x[COL_REG].astype(str).str.strip(),
    )
)

verbs.shape

(327, 12)

In [25]:
verbs[["infinitive","code","present_3sg","meaning_english","meaning_turkish","region"]].isna().sum()

infinitive         0
code               0
present_3sg        0
meaning_english    0
meaning_turkish    0
region             0
dtype: int64

In [26]:
usable = verbs.query("infinitive != '' and code != '' and present_3sg != ''")
usable.shape

(327, 12)

In [27]:
import pandas as pd

cat_map = pd.read_sql("SELECT verb_category_id, code FROM verb_category;", engine)

dialect_map = pd.read_sql("SELECT dialect_id, english_name FROM dialect;", engine)

# region code -> dialect english_name
region_to_english = {
    "AŞ": "Ardeşen",
    "PZ": "Pazar",
    "FA": "Fındıklı/Arhavi",
    "HO": "Hopa",
}

# turn dialect_map into english_name -> dialect_id
english_to_id = dict(zip(dialect_map["english_name"], dialect_map["dialect_id"]))

# final region code -> dialect_id
region_to_id = {k: english_to_id[v] for k, v in region_to_english.items()}
region_to_id

{'AŞ': 1, 'PZ': 2, 'FA': 3, 'HO': 4}

### Important terminology note
- **verb_family**: groups related lexical roots across dialects (e.g., *uqoun* ~ *uyonun* “to have”).
- **preverb variants** (e.g., *obaru*, *mebaru*, *ebaru*): should **not** be grouped via `verb_family_id`.
  If/when you add a CSV column like `preverb_family` (e.g., `obaru`), we can seed a `preverb_family` table and link verbs to it via `preverb_family_id`.

In [28]:
COL_INF="Laz Infinitive"
COL_CAT="Category"
COL_PRES3="Laz 3rd Person Singular Present"
COL_ENG="English Translation"
COL_TR="Turkish Verb"
COL_REG="Region"
COL_FAM ="verb_family_id"
# Optional column: preverb_family (groups preverb variants like obaru/mebaru/ebaru).
# If not present in the CSV, it will be treated as missing.
COL_PREFAM="preverb_family"
if COL_PREFAM not in df.columns:
    df[COL_PREFAM] = pd.NA

verbs = (
    df[[COL_INF, COL_CAT, COL_PRES3, COL_ENG, COL_TR, COL_REG, COL_FAM, COL_PREFAM]]
    .assign(
        infinitive=lambda x: x[COL_INF].astype(str).str.strip(),
        code=lambda x: x[COL_CAT].astype(str).str.strip(),
        present_3sg=lambda x: x[COL_PRES3].astype(str).str.strip(),
        meaning_english=lambda x: x[COL_ENG].astype(str).str.strip(),
        meaning_turkish=lambda x: x[COL_TR].astype(str).str.strip(),
        region=lambda x: x[COL_REG].astype(str).str.strip(),
        verb_family_id=lambda x: pd.to_numeric(x[COL_FAM], errors="coerce").astype("Int64"),
        preverb_family=lambda x: x[COL_PREFAM].astype(str).str.strip().replace({"": pd.NA, "nan": pd.NA}),
    )
    .query("infinitive != '' and code != '' and present_3sg != ''")
    .merge(cat_map, on="code", how="left")
)

# split "PZ, AŞ, FA" -> ["PZ","AŞ","FA"]
verbs = verbs.assign(
    region_code=lambda x: x["region"].str.split(",")
).explode("region_code")

verbs["region_code"] = verbs["region_code"].astype(str).str.strip()

# map to dialect_id
verbs["dialect_id"] = verbs["region_code"].map(region_to_id)

# sanity check: should be empty
bad = verbs[verbs["dialect_id"].isna()][["region","region_code"]].drop_duplicates()
bad

Empty DataFrame
Columns: [region, region_code]
Index: []

In [29]:
# --- Build verbs_to_insert to match your verb table ---

# If verbs_clean already exists from earlier cells, use it.
# Otherwise, create it from verbs (this makes the cell self-contained).
if "verbs_clean" in globals():
    base = verbs_clean.copy()
else:
    base = verbs.dropna(subset=["dialect_id", "verb_category_id"]).copy()

# ensure FK ints (verb_family_id can be NULL, so keep it as nullable Int64)
base["dialect_id"] = base["dialect_id"].astype(int)
base["verb_category_id"] = base["verb_category_id"].astype(int)

# Only do this if the column exists (prevents KeyError if you forgot the earlier step)
if "verb_family_id" in base.columns:
    base["verb_family_id"] = base["verb_family_id"].astype("Int64")
else:
    # If you hit this, it means the earlier "verbs =" cell didn't create verb_family_id
    raise KeyError("verb_family_id column is missing. Make sure your earlier step creates it from the CSV.")

verbs_to_insert = (
    base[[
        "verb_family_id",      # Cross-dialect lexical root group (uqoun ~ uyonun). Not preverb mapping.
        "verb_category_id",
        "dialect_id",
        "infinitive",
        "present_3sg",
        "meaning_english",
        "meaning_turkish",
    ]]
    .drop_duplicates()
    .copy()
)

# required booleans (set defaults for now; you can refine later)
verbs_to_insert["requires_marker"] = False


# IMPORTANT: de-dupe on your conflict target (dialect_id, infinitive)
verbs_to_insert = verbs_to_insert.drop_duplicates(subset=["dialect_id", "infinitive"])

verbs_to_insert.head()

,verb_family_id,verb_category_id,dialect_id,infinitive,present_3sg,meaning_english,meaning_turkish,requires_marker
0,19,1,2,avara doskudu,avara doskudun,to be idle,avare kalmak,False
0,19,1,1,avara doskudu,avara doskudun,to be idle,avare kalmak,False
0,19,1,3,avara doskudu,avara doskudun,to be idle,avare kalmak,False
0,19,1,4,avara doskudu,avara doskudun,to be idle,avare kalmak,False
8,139,2,2,cebazgu,cobazgams,"to press, to step on something",basmak,False

In [30]:
# --- Ensure verb_family rows exist (needed before inserting verbs with verb_family_id FK) ---
# Because schema.sql defines verb_family_id as GENERATED BY DEFAULT AS IDENTITY,
# we *can* insert explicit verb_family_id values from the CSV when recreating the DB.

import pandas as pd
import sqlalchemy as sa
from sqlalchemy.dialects.postgresql import insert

# 1) Collect unique, non-null verb_family_id values from the CSV-derived dataframe
family_ids = (
    verbs_to_insert["verb_family_id"]
    .dropna()
    .astype(int)
    .drop_duplicates()
    .sort_values()
)

verb_family_seed = pd.DataFrame({
    "verb_family_id": family_ids,
    "family_code": [None] * len(family_ids), 
})

# 2) Pull existing IDs from DB so we only insert missing ones
existing_ids = pd.read_sql("SELECT verb_family_id FROM verb_family;", engine)["verb_family_id"].tolist()
existing_ids = set(int(x) for x in existing_ids)

to_insert = verb_family_seed[~verb_family_seed["verb_family_id"].isin(existing_ids)].copy()
print(f"verb_family already in DB: {len(existing_ids)}")
print(f"verb_family new to insert: {len(to_insert)}")

# 3) Insert missing rows (ON CONFLICT DO NOTHING)
meta = sa.MetaData()
verb_family_tbl = sa.Table("verb_family", meta, autoload_with=engine)

if not to_insert.empty:
    with engine.begin() as conn:
        rows = to_insert.to_dict(orient="records")
        stmt = insert(verb_family_tbl).values(rows).on_conflict_do_nothing(
            index_elements=["verb_family_id"]
        )
        conn.execute(stmt)

verb_family already in DB: 601
verb_family new to insert: 0

In [31]:
import sqlalchemy as sa
from sqlalchemy.dialects.postgresql import insert

# ---- 1) Reflect the verb table from the DB ----
meta = sa.MetaData()
verb_tbl = sa.Table("verb", meta, autoload_with=engine)

def insert_ignore_duplicates(table, conn, keys, data_iter):
    """
    Pandas to_sql 'method' callable:
    UPSERT rows into verb. On conflict (dialect_id, infinitive), UPDATE columns
    so previously-inserted rows get their verb_family_id filled in.
    """
    rows = [dict(zip(keys, row)) for row in data_iter]
    if not rows:
        return 0

    stmt = insert(verb_tbl).values(rows)

    # Only update columns that exist in the DB table AND are present in the incoming rows
    incoming_cols = set(rows[0].keys())
    db_cols = set(verb_tbl.columns.keys())

    desired_updates = {
        "verb_family_id",
        "verb_category_id",
        "present_3sg",
        "meaning_english",
        "meaning_turkish",
        "requires_marker",
        "has_optional_prefix_ko",
        "has_optional_prefix_do",    }

    update_cols = sorted(list(desired_updates & incoming_cols & db_cols))

    if not update_cols:
        stmt = stmt.on_conflict_do_nothing(index_elements=["dialect_id", "infinitive"])
    else:
        stmt = stmt.on_conflict_do_update(
            index_elements=["dialect_id", "infinitive"],
            set_={c: getattr(stmt.excluded, c) for c in update_cols},
        )

    result = conn.execute(stmt)
    return result.rowcount


# ---- 2) Ensure verbs_to_insert exists (build it if missing) ----
if "verbs_to_insert" not in globals():
    if "verbs_clean" not in globals():
        raise NameError("verbs_clean is not defined yet. Run the cell that creates verbs_clean before inserting.")
    verbs_to_insert = (
        verbs_clean[[
            "verb_family_id",
            "verb_category_id",
            "dialect_id",
            "infinitive",
            "present_3sg",
            "meaning_english",
            "meaning_turkish",
        ]]
        .drop_duplicates()
        .copy()
    )

# ---- 3) Add defaults for DB columns that aren't in the CSV ----
# (we only add them if they exist in the DB table)
db_cols = [c.name for c in verb_tbl.columns]

for col in ["requires_marker",
            "has_optional_prefix_ko", "has_optional_prefix_do"]:
    if col in db_cols and col not in verbs_to_insert.columns:
        verbs_to_insert[col] = False

# ---- 4) Drop extra columns not present in the DB ----
extra = [c for c in verbs_to_insert.columns if c not in db_cols]
if extra:
    print("Dropping columns not in DB verb table:", extra)
    verbs_to_insert = verbs_to_insert.drop(columns=extra)

# ---- 5) Deduplicate on the conflict target and insert ----
verbs_to_insert = verbs_to_insert.drop_duplicates(subset=["dialect_id", "infinitive"]).copy()

with engine.begin() as conn:
    verbs_to_insert.to_sql(
        "verb",
        con=conn,
        if_exists="append",
        index=False,
        method=insert_ignore_duplicates,
        chunksize=1000,
    )

pd.read_sql("SELECT COUNT(*) AS n_verbs FROM verb;", engine)

   n_verbs
0      653

In [32]:
# --- Insert into verb, skipping duplicates safely ---
# Goal: align DataFrame columns to the actual DB table columns before to_sql()

# 1) Pull the true DB schema for the verb table
verb_cols = pd.read_sql("""
SELECT column_name
FROM information_schema.columns
WHERE table_schema = 'public' AND table_name = 'verb'
ORDER BY ordinal_position;
""", engine)["column_name"].tolist()

df = verbs_to_insert.copy()

# 2) Add defaults for columns that exist in SQL but not in the CSV/DataFrame
# (This handles optional-column defaults automatically.)
defaults_false = [
    "requires_marker",
    "has_optional_prefix_ko",
    "has_optional_prefix_do",]

for col in defaults_false:
    if col in verb_cols and col not in df.columns:
        df[col] = False

# If your table has other nullable columns you want to set explicitly, do it here.
# Example:
# if "notes" in verb_cols and "notes" not in df.columns:
#     df["notes"] = None

# 3) Drop any DataFrame columns that are NOT in the SQL table
extra = [c for c in df.columns if c not in verb_cols]
if extra:
    print("Dropping columns not in DB table:", extra)
    df = df.drop(columns=extra)

# 4) Reorder columns to match the table (optional but keeps things tidy)
df = df[[c for c in verb_cols if c in df.columns]]

# 5) Insert
with engine.begin() as conn:
    df.to_sql(
        "verb",
        con=conn,
        if_exists="append",
        index=False,
        method=insert_ignore_duplicates,
        chunksize=1000,
    )

pd.read_sql("SELECT COUNT(*) AS n_verbs FROM verb;", engine)

   n_verbs
0      653

In [33]:
# --- sanity sample: did inserts land the way we expect? ---
pd.read_sql("""
SELECT dialect_id, infinitive, present_3sg, verb_category_id
FROM verb
ORDER BY verb_id DESC
LIMIT 20;
""", engine)

    dialect_id     infinitive      present_3sg  verb_category_id
0            1        cexvamu        cuxvamams                 2
1            2        cexvamu        cuxvamams                 2
2            3        gexvamu       gyuxvamams                 2
3            4        zop̌ini          zop̌ons                 2
4            3        zop̌ini          zop̌ons                 2
5            1   yoxo cedvalu      yoxo codums                 2
6            2   yoxo cedvalu      yoxo codums                 2
7            4        yeç̌opu        yeç̌opups                 2
8            4  xe oǩotvaʒinu  xe oǩotvaʒinaps                 2
9            2   xe oǩoç̌apxu   xe oǩoç̌apxams                 2
10           1   xe oǩoç̌apxu   xe oǩoç̌apxams                 2
11           3   xe oǩoç̌apxu   xe oǩoç̌apxams                 2
12           3         uyonun           uyonun                 3
13           1         uyonun           uyonun                 3
14           2         uyonun           uyonun                 3
15           4          uqoun            uqoun                 3
16           4           unon             unon                 3
17           3           unon             unon                 3
18           4           uğun             uğun                 3
19           3           uğun             uğun                 3

In [34]:
# --- Post-import checks ---

# How many rows did we insert?
pd.read_sql("SELECT COUNT(*) AS n_verbs FROM verb;", engine)

   n_verbs
0      653

In [35]:
# Check for duplicates on your natural key (dialect_id, infinitive)
pd.read_sql("""
SELECT dialect_id, infinitive, COUNT(*) AS n
FROM verb
GROUP BY dialect_id, infinitive
HAVING COUNT(*) > 1
ORDER BY n DESC, dialect_id, infinitive
LIMIT 50;
""", engine)

Empty DataFrame
Columns: [dialect_id, infinitive, n]
Index: []

In [36]:
# Quick spot-check: sample rows
pd.read_sql("""
SELECT v.verb_id,
       v.verb_family_id,
       d.english_name AS dialect,
       vc.english_name AS category,
       v.infinitive,
       v.present_3sg,
       v.meaning_english,
       v.meaning_turkish
FROM verb v
JOIN dialect d ON d.dialect_id = v.dialect_id
JOIN verb_category vc ON vc.verb_category_id = v.verb_category_id
ORDER BY v.verb_id DESC
LIMIT 25;
""", engine)

,verb_id,verb_family_id,dialect,category,infinitive,present_3sg,meaning_english,meaning_turkish
0,692,210,Ardeşen,Ergative verb,cexvamu,cuxvamams,to celebrate,kutlamak
1,691,210,Pazar,Ergative verb,cexvamu,cuxvamams,to celebrate,kutlamak
2,690,210,Fındıklı/Arhavi,Ergative verb,gexvamu,gyuxvamams,to celebrate,kutlamak
3,689,38,Hopa,Ergative verb,zop̌ini,zop̌ons,"to mention, to talk about",bahsetmek
4,688,38,Fındıklı/Arhavi,Ergative verb,zop̌ini,zop̌ons,"to mention, to talk about",bahsetmek
5,687,38,Ardeşen,Ergative verb,yoxo cedvalu,yoxo codums,to name something/someone,adlandırmak
6,686,38,Pazar,Ergative verb,yoxo cedvalu,yoxo codums,to name something/someone,adlandırmak
7,685,125,Hopa,Ergative verb,yeç̌opu,yeç̌opups,to buy,almak
8,684,130,Hopa,Ergative verb,xe oǩotvaʒinu,xe oǩotvaʒinaps,to applaud,alkışlamak
9,683,34,Pazar,Ergative verb,xe oǩoç̌apxu,xe oǩoç̌apxams,to applaud,alkışlamak
10,682,34,Ardeşen,Ergative verb,xe oǩoç̌apxu,xe oǩoç̌apxams,to applaud,alkışlamak
11,681,34,Fındıklı/Arhavi,Ergative verb,xe oǩoç̌apxu,xe oǩoç̌apxams,to applaud,alkışlamak
12,680,6,Fındıklı/Arhavi,Dative verb,uyonun,uyonun,to have,var (canlı)
13,679,6,Ardeşen,Dative verb,uyonun,uyonun,to have,var (canlı)
14,678,6,Pazar,Dative verb,uyonun,uyonun,to have,var (canlı)
15,677,6,Hopa,Dative verb,uqoun,uqoun,to have,var (canlı)
16,676,95,Hopa,Dative verb,unon,unon,to want,istemek
17,675,95,Fındıklı/Arhavi,Dative verb,unon,unon,to want,istemek
18,674,95,Hopa,Dative verb,uğun,uğun,to have,var (cansız)
19,673,95,Fındıklı/Arhavi,Dative verb,uğun,uğun,to have,var (cansız)
20,672,95,Ardeşen,Dative verb,uğun,uğun,to have,var (cansız)
21,671,95,Pazar,Dative verb,uğun,uğun,to have,var (cansız)
22,670,203,Hopa,Nominative verb,ren,ren,to be,olmak
23,669,203,Fındıklı/Arhavi,Nominative verb,ren,ren,to be,olmak
24,668,95,Fındıklı/Arhavi,Ergative verb,oʒxunu,ʒxunums,"to distinguish, to differentiate",ayrım yapmak

In [37]:
# Ensure all dialect_id/category_id mappings existed in the CSV
# (These should be empty if your earlier mapping diagnostics passed)
print("Unmapped dialect_id rows:", verbs[verbs["dialect_id"].isna()].shape[0])
print("Unmapped verb_category_id rows:", verbs[verbs["verb_category_id"].isna()].shape[0])

Unmapped dialect_id rows: 0
Unmapped verb_category_id rows: 0

In [38]:
import pandas as pd

preverbs = [
    "ce","cela","ceşǩa","dolo","e","eşǩa",
    "me","mo", "gela", "ge",
    "meo","moo","mola","gola","moǩo",
    "ama","gama","eo","meşǩa","go","goo","koǯo","eǯa","eǩa",
    "oǩo","ǩoşǩa", "ela",
    "oxo","do", "ye",
]

preverb_df = pd.DataFrame({"spelling": preverbs}).drop_duplicates().sort_values("spelling")

# Optional: normalize whitespace
preverb_df["spelling"] = preverb_df["spelling"].str.strip()

preverb_df

   spelling
15      ama
0        ce
1      cela
2     ceşǩa
28       do
3      dolo
4         e
26      ela
17       eo
5      eşǩa
23      eǩa
22      eǯa
16     gama
9        ge
8      gela
19       go
13     gola
20      goo
21     koǯo
6        me
10      meo
18    meşǩa
7        mo
12     mola
11      moo
14     moǩo
27      oxo
24      oǩo
29       ye
25    ǩoşǩa

In [39]:
import pandas as pd

# --- Make sure we have a "spelling" column no matter what the source column is called ---

preverb_df_db = preverb_df.copy()

if "spelling" not in preverb_df_db.columns:
    if "code" in preverb_df_db.columns:
        preverb_df_db = preverb_df_db.rename(columns={"code": "spelling"})
    else:
        raise ValueError(f"Expected a 'code' or 'spelling' column, found: {list(preverb_df_db.columns)}")

# keep only the columns that exist in the SQL table
preverb_df_db = preverb_df_db[["spelling"]].copy()

# optional columns (table has them, so we can set them)
preverb_df_db["preverb_group"] = None
preverb_df_db["notes"] = None

# clean + normalize
preverb_df_db["spelling"] = (
    preverb_df_db["spelling"]
    .astype(str)
    .str.strip()
)

# drop blanks just in case
preverb_df_db = preverb_df_db[preverb_df_db["spelling"] != ""]

# dedupe + stable order
preverb_df_db = preverb_df_db.drop_duplicates(subset=["spelling"]).sort_values("spelling").reset_index(drop=True)

# 1) pull existing spellings from DB
existing = pd.read_sql("SELECT spelling FROM preverb;", engine)
existing_set = set(existing["spelling"].astype(str).str.strip())

# 2) keep only new spellings
to_insert = preverb_df_db[~preverb_df_db["spelling"].isin(existing_set)].copy()

print(f"Already in DB: {len(existing_set)}")
print(f"New to insert: {len(to_insert)}")

# 3) insert only new ones
if not to_insert.empty:
    with engine.begin() as conn:
        to_insert.to_sql(
            "preverb",
            con=conn,
            if_exists="append",
            index=False,
            chunksize=1000,
        )

pd.read_sql("""
SELECT preverb_id, spelling, preverb_group, notes
FROM preverb
ORDER BY spelling;
""", engine)

Already in DB: 30
New to insert: 0

    preverb_id spelling preverb_group notes
0            1      ama          None  None
1            2       ce          None  None
2            3     cela          None  None
3            4    ceşǩa          None  None
4            5       do          None  None
5            6     dolo          None  None
6            7        e          None  None
7           11      eǩa          None  None
8            8      ela          None  None
9            9       eo          None  None
10          10     eşǩa          None  None
11          12      eǯa          None  None
12          13     gama          None  None
13          14       ge          None  None
14          15     gela          None  None
15          16       go          None  None
16          17     gola          None  None
17          18      goo          None  None
18          29    ǩoşǩa          None  None
19          19     koǯo          None  None
20          20       me          None  None
21          21      meo          None  None
22          22    meşǩa          None  None
23          23       mo          None  None
24          26     moǩo          None  None
25          24     mola          None  None
26          25      moo          None  None
27          28      oǩo          None  None
28          27      oxo          None  None
29          42       ye          None  None

In [40]:
pd.read_sql("SELECT preverb_id, spelling, preverb_group, notes FROM preverb ORDER BY spelling;", engine)

    preverb_id spelling preverb_group notes
0            1      ama          None  None
1            2       ce          None  None
2            3     cela          None  None
3            4    ceşǩa          None  None
4            5       do          None  None
5            6     dolo          None  None
6            7        e          None  None
7           11      eǩa          None  None
8            8      ela          None  None
9            9       eo          None  None
10          10     eşǩa          None  None
11          12      eǯa          None  None
12          13     gama          None  None
13          14       ge          None  None
14          15     gela          None  None
15          16       go          None  None
16          17     gola          None  None
17          18      goo          None  None
18          29    ǩoşǩa          None  None
19          19     koǯo          None  None
20          20       me          None  None
21          21      meo          None  None
22          22    meşǩa          None  None
23          23       mo          None  None
24          26     moǩo          None  None
25          24     mola          None  None
26          25      moo          None  None
27          28      oǩo          None  None
28          27      oxo          None  None
29          42       ye          None  None

In [41]:
print("rows in verbs_to_insert:", len(verbs_to_insert))
print("nonnull verb_family_id in df:", verbs_to_insert["verb_family_id"].notna().sum())

rows in verbs_to_insert: 653
nonnull verb_family_id in df: 653